<%- include('../partials/header/header.ejs'); %>

<body class="fundo-container">
  <%- include('../partials/menu/menu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <div class="container mt-5">
          <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
              <h4 class="mb-0">Entrar</h4>
            </div>
            <div class="card-body">
              <form id="loginForm" action="/login" method="post" >
                <div class="row mb-3">
                  <label for="usuarioLogin" class="col-sm-3 col-form-label text-end">Usuário</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" required name="username" required placeholder="Digite seu usuário">
                  </div>
                </div>
        
                <div class="row mb-3">
                  <label for="senhaLogin" class="col-sm-3 col-form-label text-end">Senha</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" required name="password" required placeholder="Digite sua senha">
                  </div>
                </div>
        
                <div class="row">
                  <div class="offset-sm-3 col-sm-9 d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Entrar</button>
                  </div>
                </div>
              </form>
        
              <div class="mt-3 text-center">
                <a href="/register" class="btn btn-link">Cadastrar</a>
                <a href="/esqueci-senha" class="btn btn-link">Esqueci a Senha</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>

  <%- include('../partials/footer/footer.ejs'); %>
</body>
