<%- include('../partials/header/header.ejs'); %>
  <%- include('../partials/menu/menuPlayer'); %>

    <div class="container mt-5">
      <div class="containerGame">
         
      </div>
    </div>



    <%- include('../partials/footer/footer.ejs'); %>