<%- include('../partials/header/header.ejs'); %>

<body class="fundo-container">
  <%- include('../partials/menu/menu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <div class="container mt-5">
          <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
              <h4 class="mb-0">Cadastro de Usuário</h4>
            </div>
            <div class="card-body">
              <form id="cadastroForm" action="/register" method="post">
                <div class="row mb-3">
                  <label for="nome" class="col-sm-3 col-form-label text-end">Nome</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" required name="name">
                  </div>
                </div>
        
                <div class="row mb-3">
                  <label for="usuario" class="col-sm-3 col-form-label text-end">Usuário</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" required name="username">
                  </div>
                </div>
        
                <div class="row mb-3">
                  <label for="email" class="col-sm-3 col-form-label text-end">E-mail</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" required name="email">
                  </div>
                </div>
        
                <div class="row mb-3">
                  <label for="senha" class="col-sm-3 col-form-label text-end">Senha</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" required name="password">
                  </div>
                </div>
        
                <div class="row mb-3">
                  <label for="confirmaSenha" class="col-sm-3 col-form-label text-end">Confirmar Senha</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" id="confirmpassword" required name="confirmpassword">
                    <div id="erroSenha" class="form-text text-danger d-none">As senhas não coincidem.</div>
                  </div>
                </div>
        
                <div class="row">
                  <div class="offset-sm-3 col-sm-9 d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                    <a href="/entrar" class="btn btn-secondary">Cancelar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        
        <script>
          document.getElementById('cadastroForm').addEventListener('submit', function (e) {
            const password = document.getElementById('password');
            const confirmpassword = document.getElementById('confirmpassword');
            const erroSenha = document.getElementById('erroSenha');
        
            if (password.value !== confirmpassword.value) {
              e.preventDefault(); // Impede envio do formulário
              erroSenha.classList.remove('d-none');
              password.classList.add('is-invalid');
              confirmpassword.classList.add('is-invalid');
            } else {
              erroSenha.classList.add('d-none');
              password.classList.remove('is-invalid');
              confirmpassword.classList.remove('is-invalid');
            }
          });
        </script> 
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>

  <%- include('../partials/footer/footer.ejs'); %>
</body>
