<%- include('../../partials/header/header.ejs'); %>
 

<body class="fundo-container">
  <%- include('../../partials/menu/userMenu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        
         <h1>Menu de Ações</h1>
  <button onclick="menuAcoes()">Menu de Ações</button>

  <!-- Área onde o resultado será exibido -->
  <div id="resultado" style="margin-top: 20px; font-size: 1.5em; color: green;"></div>

  <script>
    function menuAcoes() {
      Swal.fire({
        title: 'Escolha uma ação',
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: 'Calcular',
        denyButtonText: 'Responder',
        cancelButtonText: 'Redirecionar',
      }).then((result) => {
        if (result.isConfirmed) {
          calcularDobro();
        } else if (result.isDenied) {
          responderUsuario();
        } else {
          window.location.href = 'https://google.com';
        }
      });
    }

    function calcularDobro() {
      Swal.fire({
        title: 'Digite um número',
        input: 'number',
        confirmButtonText: 'Calcular',
      }).then((result) => {
        if (result.isConfirmed) {
          const dobro = result.value * 2;
          Swal.fire(`Dobro: ${dobro}`);
          // Exibe na div
          document.getElementById('resultado').innerHTML = `Resultado do dobro: ${dobro}`;
        }
      });
    }

    function responderUsuario() {
      Swal.fire({
        title: 'Digite sua mensagem',
        input: 'text',
        confirmButtonText: 'Responder',
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(`Você digitou: ${result.value}`);
          // Exibe na div
          document.getElementById('resultado').innerHTML = `Você respondeu: ${result.value}`;
        }
      });
    }
  </script>
        
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>

  <%- include('../../partials/footer/footer.ejs'); %>
</body>
