 <!-- Rodapé -->
 <footer class="footer-fixed">
  <p class="footer">&copy; 2025 SaberQuest - Todos os direitos reservados.</p>
</footer>
 
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/saberQuest.js"></script>

 
  </body>
</html>
 