<%- include('../../partials/header/header.ejs'); %>
 

<body class="fundo-container">
  <%- include('../../partials/menu/userMenu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">  

        <div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Criar Novo Item</h4>
    </div>
    <div class="card-body">
      <form action="/items" method="POST">
        <div class="row mb-3">
          <label for="name" class="col-sm-3 col-form-label text-end">Nome</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="name" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="price" class="col-sm-3 col-form-label text-end">Preço</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" name="price" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="durability" class="col-sm-3 col-form-label text-end">Durabilidade</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" name="durability" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="archetype" class="col-sm-3 col-form-label text-end">Arquétipo</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="archetype">
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label text-end">Bônus 1</label>
          <div class="col-sm-9">
            <textarea class="form-control" name="bn01" rows="2" placeholder="Ex: Ganha 10 de vida"></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label text-end">Bônus 2</label>
          <div class="col-sm-9">
            <textarea class="form-control" name="bn02" rows="2" placeholder="Ex: Ganha 1 de força"></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label text-end">Bônus 3</label>
          <div class="col-sm-9">
            <textarea class="form-control" name="bn03" rows="2" placeholder="Ex: Aumenta o nível por 1 rodada"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="offset-sm-3 col-sm-9 d-flex justify-content-between">
            <button type="submit" class="btn btn-success">Criar</button>
            <a href="/items" class="btn btn-secondary">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>

  <%- include('../../partials/footer/footer.ejs'); %>
</body>
