<%- include('../../partials/header/header.ejs'); %>
 

<body class="fundo-container">
  <%- include('../../partials/menu/userMenu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">

        <div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Criar Nova Habilidade</h4>
    </div>
    <div class="card-body">
      <form action="/skills" method="POST">
        <div class="row mb-3">
          <label for="name" class="col-sm-3 col-form-label text-end">Nome</label>
          <div class="col-sm-9">
            <input type="text" name="name" class="form-control" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="description" class="col-sm-3 col-form-label text-end">Descrição</label>
          <div class="col-sm-9">
            <textarea name="description" class="form-control" rows="3" required></textarea>
          </div>
        </div>

        <div class="row mb-3">
  <label for="type" class="col-sm-3 col-form-label text-end">Tipo de Dano</label>
  <div class="col-sm-9">
    <select class="form-select" name="type" required>
      <option value="Dano Físico">Dano Físico</option>
      <option value="Dano de Longo Alcance">Dano de Longo Alcance</option>
      <option value="Dano de Fogo">Dano de Fogo</option>
      <option value="Dano Elétrico">Dano Elétrico</option>
      <option value="Dano de Gelo">Dano de Gelo</option>
      <option value="Dano de Veneno">Dano de Veneno</option>
      <option value="Dano Psíquico">Dano Psíquico</option>
      <option value="Dano de Sombra">Dano de Sombra</option>
      <option value="Dano de Luz">Dano de Luz</option>
    </select>
  </div>
</div>


        <div class="row mb-3">
          <label for="level" class="col-sm-3 col-form-label text-end">Nível</label>
          <div class="col-sm-9">
            <input type="number" name="level" class="form-control" min="1" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="manaCost" class="col-sm-3 col-form-label text-end">Custo de Mana</label>
          <div class="col-sm-9">
            <input type="number" name="manaCost" class="form-control" min="0">
          </div>
        </div>

        <div class="row mb-3">
          <label for="healthCost" class="col-sm-3 col-form-label text-end">Custo de Vida</label>
          <div class="col-sm-9">
            <input type="number" name="healthCost" class="form-control" min="0">
          </div>
        </div>

        <div class="row mb-3">
          <label for="damage" class="col-sm-3 col-form-label text-end">Dano</label>
          <div class="col-sm-9">
            <input type="number" name="damage" class="form-control" min="0">
          </div>
        </div>

        <div class="row mb-3">
          <label for="range" class="col-sm-3 col-form-label text-end">Alcance</label>
          <div class="col-sm-9">
            <input type="number" name="range" class="form-control" placeholder="1 = 100m, 2 = 200m..." min="0">
          </div>
        </div>

        <div class="row mb-3">
  <label for="archetypes" class="col-sm-3 col-form-label text-end">Arquétipo</label>
  <div class="col-sm-9">
    <select class="form-select" name="archetypes" required>
      <option value="Matemático">Matemático</option>
      <option value="Linguista">Linguista</option>
      <option value="Historiador">Historiador</option>
      <option value="Geógrafo">Geógrafo</option>
      <option value="Biólogo">Biólogo</option>
      <option value="Químico">Químico</option>
      <option value="Físico">Físico</option>
      <option value="Artista">Artista</option>
      <option value="Educador Físico">Educador Físico</option>
    </select>
  </div>
</div>


        <div class="row">
          <div class="offset-sm-3 col-sm-9 d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="/skills" class="btn btn-secondary">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>

  <%- include('../../partials/footer/footer.ejs'); %>
</body>
