<!-- index.ejs -->
<%- include('../../partials/header/headerGame.ejs'); %>
<%- include('../../partials/menu/menuGame.ejs'); %>

<div class="container mt-5">
  
     

</div>

    <%- include('../../partials/footer/footerGameMenu.ejs'); %>
    <%- include('../../partials/footer/footerGame.ejs'); %>
