<h1>Cadastrar Prova</h1>
<form action="/prova" method="POST">
  <input type="text" name="title" placeholder="Título da Prova" required />
  <textarea
    name="descricao"
    placeholder="Descrição da Prova"
    required
  ></textarea>
  <button type="submit">Cadastrar Prova</button>
</form>
