<%- include('partials/header/header.ejs'); %>

<body class="fundo-container2">
  <%- include('partials/menu/menu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <div class="w-100 min-vh-100 d-flex align-items-center justify-content-center">
          <div class="container border border-info screenHome">
            <div class="login-container text-center">
              <h2 class="mb-4">Acesse sua conta</h2>
              <form action="/login" method="POST">
                  <div class="mb-3">
                      <input type="text" class="form-control" placeholder="Usuário" name="email" required>
                  </div>
                  <div class="mb-3">
                      <input type="password" class="form-control" placeholder="Senha" name="password" required>
                  </div>
                  <button type="submit" class="btn btn-primary w-100">Acessar</button>
              </form>
              <div class="mt-3">
                  <a href="usuario">Criar uma conta</a>
              </div>
          </div> 
            <p>&nbsp; </p>
            
          </div>
        </div>
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>
   <%- include('partials/footer/footer.ejs'); %>
</body>

